nav {
  overflow: hidden;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav-div {
  width: 100%;
}

.sticky {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* .navigation-section {
  margin: auto;
} */

.container.hero {
  width: 100%;
  justify-content: space-around;
}

.hero-text {
  width: 50%;
}

.logo {
  justify-content: center;
  padding-left: 10px;
  width: 200px;
  height: auto;

  margin-bottom: 10px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #1d2b36;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.burger {
  padding-right: 10px;
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #1d2b36;
  margin: 5px;
  transition: all 0.3s ease;
}

.flex-horizontal.name {
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}

.c-team1__info.teamnamespace {
  flex: 0 160px;
}

.teamcontainer {
  flex-wrap: nowrap;
}

.team-photo {
  width: 300px;
}

.col.teamsection {
  margin-bottom: 0px;
}

@media screen and (max-width: 1100px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .c-nav__link {
    border-bottom: 0px;
  }
  .quote.style2 {
    font-size: 20px;
    font-weight: 300;
  }
  .team-photo {
    width: 250px;
  }

  .c-team1__name {
    font-size: 25px;
  }
}

@media screen and (max-width: 891px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    margin-bottom: 0px;
  }

  nav {
    justify-content: space-between;
  }

  .nav-links {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 10px;

    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    padding: 10px 10px;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .teamcontainer {
    flex-wrap: wrap;
  }
  .team-photo {
    width: 200px;
  }

  .c-team1__name {
    font-size: 24px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.cross .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.cross .line2 {
  opacity: 0;
}

.cross .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
